<!DOCTYPE html>
<html data-postleaf-error="true">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, maximum-scale=1, minimal-ui">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic">
    <style>
    body {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #666;
        text-align: center;
        background: white;
        padding: 20px;
    }
    img {
        max-width: 100px;
        margin: 20px 0;
    }
    h1 {
        color: #09d;
        font-weight: 600;
        font-size: 32px;
        margin: 0;
    }
    p {
        margin: 40px 0;
    }
    address {
        font-size: 13px;
        color: #ccc;
        font-style: italic;
    }
    .container {
        max-width: 400px;
        margin: 10vh auto;
    }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{logo}}">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <address>{{host}}</address>
    </div>
</body>
</html>