{{> header}}

<form class="login-form" autocomplete="off">
    <div class="text-center mb-2">
        <a href="https://www.leafpub.org/" target="_blank">
            <!--img class="logo" src="{{#if @settings.logo}}{{img @settings.logo}}" style="width: 100%;"{{else}}{{url 'source/assets/img/logo-color.svg'}}"{{/if}}-->
            <img class="logo" src="{{url 'source/assets/img/logo-color.svg'}}">
        </a>
    </div>

    <div class="form-group">
        <label for="username">{{L 'username'}}</label>
        <input type="text" name="username" id="username" class="form-control" autofocus>
    </div>

    <div class="row">
        <div class="col-sm-6 push-sm-6">
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    {{L 'continue'}}
                </button>
            </div>
        </div>
        <div class="col-sm-6 pull-sm-6">
            <div class="form-group">
                <a class="btn btn-secondary btn-block" href="{{admin_url 'login'}}">{{L 'cancel'}}</a>
            </div>
        </div>
    </div>

    <div class="form-message text-warning text-center mt-2" hidden></div>
</form>

{{> footer}}