{{> header}}

<form class="login-form" autocomplete="off" data-redirect="{{redirect}}">
    <div class="text-xs-center m-b-2">
        <a href="https://www.postleaf.org/" target="_blank">
            <img class="logo" src="{{url 'source/assets/img/logo-color.svg'}}">
        </a>
    </div>

    <div class="form-group">
        <label for="username">{{L 'username'}}</label>
        <input type="text" name="username" id="username" class="form-control" autofocus>
    </div>

    <div class="form-group">
        <label for="password">{{L 'password'}}</label>
        <div class="inner-addon-group">
            <input type="password" name="password" id="password" class="form-control">
            <a href="{{admin_url 'login/recover'}}" class="inner-addon"
                title="{{L 'lost_your_password'}}"
                data-toggle="tooltip"
                data-placement="top"
            >
                <i class="fa fa-question-circle"></i>
            </a>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
            {{L 'login'}}
        </button>
    </div>

    <div class="text-xs-center m-t-2">
        <a href="{{url}}">{{@settings.title}}</a>
    </div>

    <div class="form-message text-xs-center m-t-2" hidden></div>
</form>

{{> footer}}