{{#each items}}
    <a href="{{link}}" {{#is link '#'}}data-widget="{{name}}"{{/is}}>
        {{#if avatar}}
            <img class="avatar" src="{{img avatar}}" alt="{{L 'avatar'}}">
        {{else}}
            <i class="{{icon}}"></i>
        {{/if}}
        {{title}}
        {{#if description}}<br><small>{{description}}</small>{{/if}}
    </a>
{{/each}}