{{#each uploads}}
    <div class="media-list-item col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6" data-slug="{{filename}}" data-sign="{{sign}}">
        <div class="preview">
            <img class="preview-image" src="{{img path width="150"}}">
        </div>
        <div class="info">
            <div class="meta">
                <div>
                    <label><i class="fa fa-arrows-h"></i></label>
                    {{width}}
                    <label><i class="fa fa-arrows-v"></i></label>
                    {{height}}
                </div>
            </div>
            <div class="posts">
                <label><i class="fa fa-sitemap"></i></label>
                {{#is posts}}
                {{#each posts}}
                {{this}},
                {{/each}}
                {{else}}
                {{L 'no_posts'}}
                {{/is}}
            </div>
            <div class="tags">
                <i class="fa fa-tags"></i>
                {{#is tags}}
                {{#each tags}}
                <!--a class="tag" href="{{url '/api/uploads/tag/'}}{{encode this}}""--><span class="badge badge-warning">{{this}}</span><!--/a-->
                {{/each}}
                {{else}}
                {{L 'no_tags'}}
                {{/is}}
            </div>
        </div>
    </div>
{{else}}
    <div class="media-list-none valign">
        <div class="valign-middle">
            {{L 'no_uploads'}}
        </div>
    </div>
{{/each}}