{{#each plugins}}
    <div
        class="plugin-list-item col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12 {{#is enabled}}enabled{{/is}}"
        data-dir="{{dir}}"
    >
        <div class="preview">
            {{#if image}}
                <img class="preview-image" src="{{url image}}">
            {{else}}
                {{#if isWidget}}
                    <i class="preview-image fa fa-rocket"></i>
                {{else}}
                    <i class="preview-image fa fa-plug"></i>
                {{/if}}
            {{/if}}
        </div>
        <div class="name">
            <h4>
                {{name}}
            </h4>
        </div>
        <div class="description">
            {{description}}
        </div>
        <div class="info">
            <span class="badge badge-pill badge-primary">
                <i class="fa fa-balance-scale" title="{{license}}"></i>
            </span>
            <span class="badge badge-pill badge-primary">
                <i class="fa fa-code-fork" title="{{version}}"></i>
            </span>
            <span class="badge badge-pill badge-primary">
                <i class="fa fa-user-circle" title="{{author}}"></i> 
            </span>
            <span class="badge badge-pill badge-primary">
                <a href="{{link}}" title="{{link}}" target="_blank">
                    <i class="fa fa-globe"></i>
                </a>
            </span>
            {{#is isAdminPlugin}}
            <span class="badge badge-pill badge-warning">
                <i class="fa fa-lock" title="Admin Plugin"></i>
            </span>
            {{/is}}
            {{#is isMiddleware}}
            <span class="badge badge-pill badge-danger">
                <i class="fa fa-lock" title="Middleware"></i>
            </span>
            {{/is}}
            <span class="badge badge-pill badge-success enable" title="{{date enable_date}}">
                <i class="fa fa-check" title="{{date enable_date}}"></i>
            </span>
        </div>
    </div>
{{else}}
    <div class="plugin-list-none valign">
        <div class="valign-middle">
            {{L 'no_plugins'}}
        </div>
    </div>
{{/each}}