{{#each posts}}
    <a
        class="post-list-item"
        href="{{admin_url 'posts/'}}{{encode slug}}"
        data-slug="{{slug}}"
        data-url="{{post_url}}?preview"
    >
        {{#is sticky}}
            <span class="badge badge-info">{{L 'sticky'}}</span>
        {{/is}}
        {{#date_compare pub_date '>' 'now'}}
            <span class="badge badge-default">{{L 'scheduled'}}</span>
        {{/date_compare}}
        {{#is page}}
            <span class="badge badge-primary">{{L 'page'}}</span>
        {{/is}}
        {{#is featured}}
            <span class="badge badge-success">{{L 'featured'}}</span>
        {{/is}}
        {{#is status 'draft'}}
            <span class="badge badge-warning">{{L 'draft'}}</span>
        {{/is}}
        <div class="title">
            {{title}}
        </div>
        <div class="description">
            {{#if meta.lock}}
                {{#admin_author meta.lock.0}}
                    {{#is ../meta.lock.0 "===" @user.slug}}
                        {{#if avatar}}
                            <img class="avatar" src="{{img avatar}}" title="{{name}} {{date date=../meta.lock.1 format="%B %e, %Y"}}">
                        {{else}}
                            <span class="avatar" title="{{name}} {{date date=../meta.lock.1 format="%B %e, %Y"}}">
                                <i class="fa fa-user"></i>
                            </span>
                        {{/if}}
                    {{else}}
                        <span class="avatar" title="{{name}} {{date date=../meta.lock.1 format="%B %e, %Y"}}">
                            <i class="fa fa-lock"></i>
                        </span>
                    {{/is}}
                {{/admin_author}}
            {{else}}
                {{#admin_author author}}
                    {{#if avatar}}
                        <img class="avatar" src="{{img avatar}}" title="{{name}}">
                    {{else}}
                        <span class="avatar" title="{{name}}">
                            <i class="fa fa-user"></i>
                        </span>
                    {{/if}}
                {{/admin_author}}
            {{/if}}
            <span class="date">
                {{date format="%B %e, %Y"}}
            </span>
        </div>
    </a>
{{else}}
    <div class="post-list-none valign">
        <div class="valign-middle">
            {{L 'no_posts'}}
        </div>
    </div>
{{/each}}