{{#each tags}}
    <a
        class="tag-list-item"
        href="{{admin_url 'tags/'}}{{encode slug}}"
        data-slug="{{slug}}"
        data-url="{{tag_url}}"
    >
        {{#if cover}}
            <span class="cover" style="background-image: url('{{img cover width="1200"}}');"></span>
        {{/if}}
        <span class="badge badge-info" title="Tag type"><i class="fa {{#is type 'post'}}fa-file-text{{else}}fa-camera{{/is}}"></i></span>
        <span class="post-count badge badge-default">
            {{#is type 'post'}}
            {{number (post_count tag=slug status=null ignore_pages=false end_date=null)}}
            {{else}}
            {{number (upload_count tag=slug )}}
            {{/is}}
        </span>
        <div class="name">
            {{name}}
        </div>
        <div class="description">
            {{!--#if cover}}
                <span class="cover" style="background-image: url('{{url cover}}');"></span>
            {{/if--}}
            {{text (markdown description)}}
        </div>
    </a>
{{else}}
    <div class="tag-list-none valign">
        <div class="valign-middle">
            {{L 'no_tags'}}
        </div>
    </div>
{{/each}}